*{
    box-sizing: border-box;
}

body{
    background-color: #1C1C1C;
}

.outer-box{
    /* display: flex; */
    height: 868px;
    width: 550px;
    background-color: #23252C;
    margin-left: 65px;
    margin-top: 53px;
    /* align-items: center; */
}

.inner-box{
    background-color: #1A1B21;
    /* position: absolute; */
    width: 317px;
    height: 399px;
    margin-left: 116px;
    margin-top: 0px;

}

.my-image{
    margin-left: 116px;
    /* position: relative; */
    /* background-image: url("../images/Ichchha2.jpeg"); */
    object-fit: cover;
    background-repeat: no-repeat;
    /* z-index: -100; */
    margin-top: 44px;
    height: 317px;
    width: 317px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0px;
}

.header{
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin-top: 0px;
}

.my-name{
    margin-top: 0px;
    padding-top: 21px;
    font-weight: 700;
    /* margin-top: 21px ; */
    color: #FFFFFF;
    font-size: 25px;
    /* line-height: 30px; */
    margin-bottom: 0px;
    /* line-height: 30px; */
}

.my-occupation{
    margin-top: 6.19px;
    /* padding: 0%; */
    color: #F3BF99;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    margin-bottom: 0px;
}

.website{
    margin-top: 8.81px;
    color: #F5F5F5;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    margin-bottom: 0px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    /* align-items: center; */
}

.email--button{
    background-color: #FFFFFF;
    display: flex;
    margin-left: 35px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    margin: 0px 0px 0px 35px;
    border-radius: 6px;
    height: 34px;
    width: 115px;
    /* left: 151px; */
}

.linkedIn--button{
    background-color: #5093E2;
    display: flex;
    margin-right: 35px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    border-radius: 6px;
    height: 34px;
    width: 115px;
    /* left: 151px; */

}

.mail--logo{
    height: 16px;
    width: 16px;
}

.linkedIn--logo{
    object-fit: contain;
}

.email--text{
    padding: none;
    margin: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Inter';
    font-style: normal;
    color: #374151;
}

.linkedIn--text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    }

.footer{
    width: 317px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #161619;
    border-radius:  0px 0px 10px 10px;
    padding: 19px 73px 19px 73px;
    margin-top: 27px;
    /* margin-bottom: 44px;  */
}

.content > h2{
    color: #F5F5F5;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 0px;
}

.content > h3{
    margin-top: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: #DCDCDC;
    margin-bottom: 0px;
}

.content{
    margin: 33px 34px 0px 36px;
}